<ion-header>
  <ion-toolbar color="main-pantone">
    <ion-buttons slot="start">
      <ion-menu-button color="white"></ion-menu-button>
    </ion-buttons>
    <ion-title color="white">Agendación de Citas</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <!-- <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Mes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Semana</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Dia</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col size="6">
      <ion-button (click)="createRandomEvents()" expand="block" fill="outline">
        add random
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="removeEvents()" expand="block" fill="outline">
        remove events
      </ion-button>
    </ion-col>
  </ion-row> -->

 
  <ion-row>
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <!-- <h3 class="pt-1">{{ viewTitle }}</h3> -->
      <h4 class="pt-2 text-capitalize">{{ viewTitle }}</h4>
    </ion-col>

    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
 
  </ion-row>


  <!--  Vista de cuadros con colores-->
  <ion-grid>
  <ion-row>
    <ion-col size="1" class="mt-1" >
      <ion-icon color="primary"  style="background-color: #3A87AD; background: #3A87AD;" name="square-outline"></ion-icon>
    </ion-col>

    <ion-col size="3" >
    
      <ion-text  style="font-size: xx-small;">Pendientes</ion-text>
    
    </ion-col>

    <ion-col size="1" class="mt-1">
      <ion-icon color="danger" style="background-color: red;" name="square-outline"></ion-icon>
    </ion-col>

    <ion-col size="3" >
      <ion-text style="font-size: xx-small;">Vencidas</ion-text>
    </ion-col>

    <ion-col size="1" class="mt-1" >
      <ion-icon color="success" style="background-color: #009900;background: #009900;" name="square-outline"></ion-icon>
    </ion-col>

    <ion-col size="3" >
 
      <ion-text  style="font-size: xx-small;">Completada</ion-text>
    </ion-col>


 </ion-row>
</ion-grid>

  <ng-template #template let-showEventDetail="showEventDetail" let-selectedDate="selectedDate" let-noEventsLabel="noEventsLabel">
    <ion-item *ngFor="let event of selectedDate.events" button (click)="selectEvent(event)" class="mt-3"
        [color]="event.management_status_id == 1 ? 'danger' : event.management_status_id == 2 ? 'primary' : 'success'">
      <ion-text color="white">
        <ion-label>{{ event.time }}</ion-label>
        <h3>{{ event.subject }}</h3>
        <p>{{ event.description }}</p>
      </ion-text>
    </ion-item>
   
  </ng-template>

  <calendar     
    [monthviewEventDetailTemplate]="template"
    [eventSource]="eventSource" 
    [calendarMode]="calendar.mode" 
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
  >

  </calendar>
 
  

</ion-content>
