<ion-header>
  <ion-toolbar color="main-pantone">
    <ion-buttons slot="start">
      <ion-menu-button color="white"></ion-menu-button>
    </ion-buttons>
    <ion-title color="white">Agendación de Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment [(ngModel)]="calendar.mode">
    <ion-segment-button value="month">
      <ion-label>Mes</ion-label>
    </ion-segment-button>
    <ion-segment-button value="week">
      <ion-label>Semana</ion-label>
    </ion-segment-button>
    <ion-segment-button value="day">
      <ion-label>Dia</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-row>
    <ion-col size="6">
      <ion-button (click)="createRandomEvents()" expand="block" fill="outline">
        add random
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button (click)="removeEvents()" expand="block" fill="outline">
        remove events
      </ion-button>
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col size="2">
      <ion-button fill="clear" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-col>

    <ion-col size="8" class="ion-text-center">
      <!-- <h3 class="pt-1">{{ viewTitle }}</h3> -->
      <h4 class="pt-2 text-capitalize">{{ viewTitle }}</h4>
    </ion-col>

    <ion-col size="2">
      <ion-button fill="clear" (click)="next()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>


  <calendar 
    [eventSource]="eventSource" 
    [calendarMode]="calendar.mode" 
    [currentDate]="calendar.currentDate"
    (onTitleChanged)="onViewTitleChanged($event)"
  >

  </calendar>
</ion-content>
