<ion-header>
  <ion-toolbar color="main-pantone">
    <ion-buttons slot="secondary">
      <ion-button (click)="closeModal()">
        <ion-icon color="white" slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="white">Seleccionar Cliente</ion-title>    
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar slot="secondary" placeholder="Buscar..." [(ngModel)]="Form.busqueda" (ionCancel)="cancelSearch()">
    </ion-searchbar>
    <ion-button slot="primary" (click)="searchNew()">
      <ion-icon slot="icon-only" name="search"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let client of clients" (click)="selectClient(client)">
      <ion-avatar slot="start">
        <img src="assets/avatar.svg">
      </ion-avatar>
      <ion-label>
        <h2>{{ client.first_name + ' ' + client.last_name }}</h2>
        <h3 class="text-success">{{ client.client_status_label }}</h3>
        <p>{{ client.query }}</p>
      </ion-label>
    </ion-item> 
  </ion-list>

  <ion-infinite-scroll threshold="5%" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando mas clientes...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>